html {
  background-color: #f0eee8;
  line-height: 1.5;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card h2 {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

.link-card {
  display: inline-block;
  text-decoration: none;
  color: #512200;
  font-family: "Georgia", serif;
  background-color: #dcd4cd;
  font-size: 1rem;
  border: 3px solid #9a816d;
  border-radius: 8px;
  padding: 1rem;
}

dl {
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
  padding: 1rem;
  font-size: .875rem;
}

dt {
  display: inline-block;
  width: 30%;
}

dd {
  display: inline-block;
  width: 30%;
  font-style: italic;
}

div {
  text-align: center;
  padding: 1rem;
}

span {
  background-color: #785439;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  font-family: sans-serif;
  font-weight: bold;
}

span:hover {
  background-color: #512200;
}

.link-card:hover {
  background-color: #cabdb2;
}
